.div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div div span {
    margin-left: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

.div div {
    padding-top: 5px;
}