.container {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.612);
}

.paper {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    margin-top: 38px;
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.612);
}

h1 {
    width: 280px;
    font-weight: 500;
    font-size: 25px;
    padding-left: 30px;
    margin-top: 5px;
}

.head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(227, 227, 227);
    position: absolute;
    height: 50px;
    z-index: 1000;
    width: 97.5%;
}

.root {
    margin: 10px 10px 10px 27px;
}